.navber {
  background-color: #000; 
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  font-family: sans-serif;
  position: sticky;
  top: 0;
}

.navber ul {
  list-style: none;
  display: flex;
  gap: 125px;
  margin: 0;
  padding: 0;
  align-items: center;
}


.icon {
  color: white;
}
.icon {
  background-color: orange;
  color: white;
  padding: 10px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  min-width: 15px;
  min-height: 15px;
  font-weight: bold;
  font-family: sans-serif;
}


.navber a {
  color: #fff; 
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 20px;
  transition: background 0.3s;
}

.navber a:hover,
.navber a.active {
  background-color: orange;
  color: #000; 
}
/*  Navbar Responsive Horizontal*/
@media (max-width: 1024px) {
  .navber ul {
    gap: 60px; 
    flex-wrap: wrap; 
  }
}

@media (max-width: 768px) {
  .navber {
    flex-direction: row; 
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 20px;
    gap: 10px;
  }

  .navber ul {
    flex-direction: row; 
    gap: 20px; 
    width: 100%;
    justify-content: flex-start; 
  }

  .navber a {
    padding: 8px 10px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .navber ul {
    gap: 10px;
  }

  .icon {
    padding: 6px;
    min-width: 12px;
    min-height: 12px;
    line-height: 16px;
    font-size: 12px;
  }

  .navber a {
    font-size: 12px;
    padding: 6px 8px;
  }
}

